@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;

}

h1 {
	font-size: 2.5em;
	width: 500px;
	padding: 5px;
	margin-right: auto;
	
	
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {   width: 1000px;
	text-align: left;
	padding-left: 10px;
	


}

.album-art {	color: white;
	padding: 5px;
	margin: 10px;
	border: 2px solid;
	border-color: brown

}



.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	
}

.record-label {

}

.track-list {

}

#about-photo {
	padding: 15px;
	margin: 10px;
	border: 2px solid;
	border-color: brown;
	float:left;
	
	
	

}

#copyright {

}

#section-about, #section-discography, #section-equipment {margin-bottom: 5px;
	margin-top: 20px;
	color: white;
	padding: 5px;
	border: 2px solid;
	border-color: brown;
	


}

#text-intro { background-color: rgb(59, 60, 60);
	color: brown;
	padding: 5px;
	margin-top: 7px;
	margin-bottom: 20px;
	border: 2px solid;
	border-color: brown;
	width: auto;
	
}